<div class="navbar navbar-default navbar-static-top" ng-class="{'pull':menuOpen}">
            <div class="container">
                <a href="/" class="navbar-brand"><img src="/images/nazaem-logo.png" alt="Nazaem.bg" /></a>
                
                <button class="navbar-toggle" hm-tap="menuOpen=!menuOpen" data-toggle="collapse" data-target=".navHeaderCollapse">
                    ☰
                    <!-- <span class="icon-bar" style="color: #000;"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> -->
                </button>

                <div height100 class="navbar-collapse" hm-swiperight="menuOpen=false;">
                    
                    <ul class="nav nav-pills navbar-right">
                        <li><a href="login.html" class="btn-success btn">ВХОД</a></li>
                        <li><a href="#" class="btn-danger btn">ВЗЕМИ НАЗАЕМ</a></li>                        
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="/">КАК РАБОТИМ</a></li>
                        <li><a href="about-us.html">ЗА НАС</a></li>
                        <li><a href="faq.html">ВЪПРОСИ</a></li>
                        <li><a href="#">БЛОГ</a></li>
                        <li><a href="form.html">КОНТАКТИ</a></li>                        
                        <li><a href="#">ПАРТНЬОРИ</a></li>
                        <!-- <li><a href="#" class="btn-success btn">ВХОД</a></li>
                        <li><a href="#" class="btn-danger btn">НАЗАЕМ</a></li> -->
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>